.mandatorystar{
	color: red;
	font-size: 14px;
}
.printheader{
	display: none;
	text-align: center;
}
.paddingrl0{
	padding-left: 0px;
	padding-right: 0px;
}
.hideprint{
  /*display: block;*/
}
@media print {
  .printheader {
  	display: block;
  }
    .hideprint {
    display: none;
  }
/*  .printfooter {
    position: absolute;
    right: 0;
    bottom: 0;
  }*/
}
.marginrl10{
  margin-right: 10px;
  margin-left: 10px;
}
.form-control::-webkit-input-placeholder, .dateinputs::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
  color: #969595;
}
.form-control::-moz-placeholder, .dateinputs::-moz-placeholder { /* Firefox 19+ */
  color: #969595;
}
.form-control:-ms-input-placeholder, .dateinputs:-ms-input-placeholder { /* IE 10+ */
  color: #969595;
}
.form-control:-moz-placeholder, .dateinputs:-moz-placeholder { /* Firefox 18- */
  color: #969595;
}
.infoboards{
  height: 100px;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}
.topinfo{
  font-size: 1.5em;
  height: 40px;
  line-height: 40px;
}
.bottominfo{
  font-size: 1.1em;
}
.bgcolor1{
  background-color: #8877af;
}
.bgcolor2{
  background-color: #bd536d;
}
.bgcolor3{
  background-color: #9e6995;
}